:root {
    --site-background: #f4f4f4;
    --site-bule-color: #0084ff;  
    --site-green: #de3434;

    --site-white: #ffffff;


    --site-black: #000000;
    --site-soft-grey: #7a8083;
    --site-mute-white: #f3f5f7;
    --site-box: #c4c6c9;

}